.gradle/
**/build/
local.properties
*.iml
.idea/
.DS_Store
xcuserdata/
*.xcworkspace/xcuserdata/
*.apk
*.aab
*.ipa
_fix-imports.js
_inspect.js
build-log.txt
vendor/bundle/
.bundle/
fastlane/report.xml
fastlane/README.md
fastlane/test_output/
iosApp/iosApp.xcodeproj/
iosApp/iosApp.xcworkspace/
